<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontColorBlue</key>
	<string>070d44</string>
	<key>FontColorLightBlue</key>
	<string>193282</string>
	<key>FontColorTabSelected</key>
	<string>C02A2C</string>
	<key>FontColorTopMenu</key>
	<string>4C4C4C</string>
	<key>FontColorLightGray</key>
	<string>ECECEC</string>
	<key>FontColorGray</key>
	<string>727272</string>
	<key>FontColorDimGray</key>
	<string>DCDCDC</string>
	<key>FontColorWhite</key>
	<string>FFFFFF</string>
	<key>FontColorRed</key>
	<string>C02A2C</string>
	<key>FontColorBodyCopy</key>
	<string>FFD1DA</string>
	<key>FontColorRedComingSoon</key>
	<string>D11E22</string>
	<key>FontColorBlack</key>
	<string>000000</string>
	<key>FontColorMark</key>
	<string>FF0000</string>
	<key>FontColorBrown</key>
	<string>B58391</string>
	<key>FontColorYellow</key>
	<string>FFD144</string>
	<key>FontColorSummarySuccess</key>
	<string>4DD27C</string>
	<key>FontColorSummaryBackground</key>
	<string>F2D5D9</string>
	<key>FontColorNavyBlue</key>
	<string>0053B8</string>
	<key>FontColorOrange</key>
	<string>FF4500</string>
	<key>FontColorGreen</key>
	<string>479a61</string>
	<key>FontColorPink</key>
	<string>FFEAE9</string>
	<key>FontColourMustard</key>
	<string>FFFFFF</string>
	<key>FontColorDarkGray</key>
	<string>454545</string>
	<key>FontColorActualGreen</key>
	<string>00ff00</string>
	<key>FontColorSliderSelected</key>
	<string>531028</string>
	<key>FontColorStatusBar</key>
	<string>C8111E</string>
	<key>FontColorDarkMustard</key>
	<string>FFFFFF</string>
	<key>FontColorLightMustard</key>
	<string>FFFFFF</string>
	<key>FontColorRedGold</key>
	<string>D5242B</string>
	<key>FontColorRedWhite</key>
	<string>D5242B</string>
	<key>FontColorRedBlack</key>
	<string>D5242B</string>
	<key>FontColorFeedBackGreen</key>
	<string>00BCB0</string>
	<key>FontColorLinkLightBlue</key>
	<string>4C8BF5</string>
	<key>FontColorSOSBG</key>
	<string>FFFFFF</string>
	<key>FontColorSOSText</key>
	<string>070d44</string>
	<key>FontColorGolden</key>
	<string>DCDCDC</string>
	<key>FontColorLightGolden</key>
	<string>DCDCDC</string>
	<key>ButtonCommonColorLight</key>
	<string>6BC9FF</string>
	<key>ButtonCommonColorMedium</key>
	<string>0071ff</string>
	<key>ButtonCommonColorDark</key>
	<string>0054BE</string>
	<key>FontColorTextError</key>
	<string>FF0000</string>
	<key>FontColorGoldenMF</key>
	<string>0053B8</string>
	<key>FontColorGoldenMFCal</key>
	<string>070d44</string>
	<key>reportPlus</key>
	<string>070d44</string>
	<key>FontColorSwitch_BlueGolden</key>
	<string>2DC137</string>
	<key>FontColorRedRed</key>
	<string>C02A2C</string>
	<key>FontColorCyan</key>
	<string>FF6199FF</string>
	<key>FontColorRedGolden</key>
	<string>a81e23</string>
	<key>FontColorBlackBlue</key>
	<string>4f0f12</string>
	<key>FontColorDimGrayCVV</key>
	<string>F0F0F0</string>
	<key>FontColorDimGrayCVV_Val</key>
	<string>747474</string>
	<key>FontColorFlatButton</key>
	<string>006AE3</string>
	<key>FontColorFlatButtonBlue</key>
	<string>4d87ff</string>
	<key>FontColorReferralGray</key>
	<string>e0e1e2</string>
	<key>FontColorRegisterBlue</key>
	<string>2c3161</string>
	<key>FontColorCrestRed</key>
	<string>d61920</string>
	<key>SeparatorLineColorInForm15</key>
	<string>D2D2D2</string>
	<key>BlueButtonInForm15</key>
	<string>4C8BF5</string>
	<key>SuccessTickInForm15</key>
	<string>00BD42</string>
	<key>FontColorRedMandate</key>
	<string>ED1C24</string>
	<key>FontColorDarkestGray</key>
	<string>2B2B2B</string>
	<key>FontColorNote</key>
	<string>4D516F</string>
	<key>FontColorGoogleBlue</key>
	<string>4285f4</string>
	<key>SuccessTickRBBLite</key>
	<string>009d00</string>
	<key>GroupSafeguardGradient1</key>
	<string>387AD8</string>
	<key>GroupSafeguardGradient2</key>
	<string>33A7F4</string>
	<key>FontColorASBALightGray</key>
	<string>9D9D9D</string>
	<key>FontColorASBAHeaderGray</key>
	<string>797979</string>
	<key>ASBASeparatorGray</key>
	<string>c9c7c7</string>
	<key>ASBAAddRemoveHolderSkyBlue</key>
	<string>4285F4</string>
	<key>ASBASuccessMessageColor</key>
	<string>1B3281</string>
	<key>ASBASuccessTickGreen</key>
	<string>009D00</string>
	<key>DebitCardOfferDiffernceLine</key>
	<string>C4C4C4</string>
	<key>SupportBlueText</key>
	<string>1B3281</string>
	<key>DebitCardOfferBox</key>
	<string>ED1C24</string>
	<key>grayBorderColor</key>
	<string>DEDEDE</string>
	<key>DashboardCarouselBgColor</key>
	<string>F6F6F6</string>
	<key>FontColorDarkBlue</key>
	<string>2C3161</string>
	<key>CurrentPageIndicatorColor</key>
	<string>890705</string>
	<key>FaintGray</key>
	<string>F6F6F6</string>
	<key>FontColorDashboardGrid</key>
	<string>E8E8E8</string>
	<key>TitleFont_Dashboard</key>
	<string>2C3161</string>
	<key>AddPayeeBackground</key>
	<string>E8E8E8</string>
</dict>
</plist>
